.ipynb_checkpoints/
__pycache__/

docs/abstracts/abstracts.*
!docs/abstracts/abstracts.tex
!docs/abstracts/abstracts.pdf

results.*
results.tex
results.pdf

report.*
!report.tex
!report.pdf

presentation.*
!presentation.tex
!presentation.pdf
!presentation.adoc

poster.*
!poster.tex
!poster.pdf

docs/presentation/2024_02_06-07/explications/explications.*
!docs/presentation/2024_02_06-07/explications/explications.tex
!docs/presentation/2024_02_06-07/explications/explications.pdf
docs/presentation/2024_02_06-07/explications/sans_preuve/explications.*
!docs/presentation/2024_02_06-07/explications/sans_preuve/explications.tex
!docs/presentation/2024_02_06-07/explications/sans_preuve/explications.pdf

texput.log

docs/antora/cache
docs/antora/public
docs/antora/node_modules